<form action="/api/burgers" method="PUT">
  <div class="border border-primary burger-item">
    {{burger_name}}
    <input type="button" name="button" value="Add Back to Menu" data-id="{{id}}" id="add-to-menu-burger">
  </div>
</form>