<form action="/api/burgers" method="PUT">
  <div class="border border-primary burger-item">
    <span class="burger-names text-danger font-weight-bold">{{burger_name}}</span>
    <input type="button" name="button" value="Add Back to Menu" data-id="{{id}}" class="btn btn-primary"
      id="add-to-menu-burger">
  </div>
</form>